body{
   background-color: black;
   height: 100vh;
   width: 100%;

}
.box{
    display: flex;
    justify-content: center;

}
.face{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: yellow;
    position: relative;

}
.eye1{
    height: 20px;
    width: 10px;
    border-radius: 100%;
    background-color: gray;
    position: absolute;
    top: 25px;
    left: 25px;
}
.eye2{
    height: 20px;
    width: 10px;
    border-radius: 100%;
    background-color: gray;
    position: absolute;
    top: 0px;
    left: 30px;
}
.mouth{
    height: 25px;
    width: 50px;
    border-radius: 0 0 80px 80px;
    background-color: gray;
    position: absolute;
    top: 30px;
    right: -7px;
    overflow: hidden;
}
.eye11{
    height: 12px;
    width: 8px;
    border-radius: 100%;
    background-color: rgb(22, 5, 5);
    position: absolute;
    top: 7px;
    left: 1px;
}
.eye12{
    height: 12px;
    width: 8px;
    border-radius: 100%;
    background-color: rgb(11, 9, 9);
    position: absolute;
    top: 7px;
    left: 1px;
}
.tongue{
    width: 30px;
    height: 35px;
    border-radius: 0 0 80px 80px;
    background-color: #bd1818;
    position: absolute;
   margin-left: 32px;
   margin-top: 60px;


}
.potta{
    height: 120px;
    width: 100px;
    background-color: yellow;
    margin-top: 100px;
    margin-left: px;
    border-radius: 20%;
    animation-name: circle;
    animation-duration: 3s;
    
}
@keyframes circle {
    from {background-color: red;}
    to {background-color: yellow;}
  }
.leg1{
    height: 70px;
    width: 20px;
    background-color: #bd1818;
    margin-left: 18px;
}
.leg2{
    height: 70px;
    width: 20px;
    background-color: #bd1818;
    margin-left: 59px;
    margin-top: -70px;
}
.hand_left{
    height: 20px;
    width: 70px;
    background-color: #bd1818;
    margin-left: -70px;
    margin-top: -170%;
}
.hand_right{
    height: 20px;
    width: 70px;
    background-color: #bd1818;
    margin-left: 100px;
    margin-top: -21%;

}
.p{
    padding-left: 25px;
    color: rgb(201, 17, 17);
    margin-top: -80px;
}
@keyframes box {
     from {background-color: red;}
    to {background-color: yellow;}
  }
@keyframes circle {
    from {background-color: blue;}
    to {background-color: fuchsia;}
  }
  .foot{
    background-color: aquamarine;
    height:auto;
    width:auto;
    margin-top: 500px;
  }
  .small{
    height: 90px;
    width: 20px;
    background-color: #18bd8e;
    margin-top: 50px;
    margin-left: 38px;
    border-bottom-left-radius: 12px;
    border-top-right-radius: 12px;
  }
  .h{
    background-color: gold;
    text-align: center;
  }
  .h2{
    background-color: gold;
    text-align: center;
    margin-top: 250px;
  }

         
        
